.save-icon{background: url("icons/icon-save.png") !important;}
.undo-icon{background: url("icons/icon-undo.png") !important;}
.add-icon{background: url("icons/icon-add.png") !important;}
.edit-icon{background: url("icons/icon-edit.png") !important;}
.delete-icon{background: url("icons/icon-delete.png") !important;}