<ion-view class="start-background" >
  <ion-nav-title class="light">Geolocalisation</ion-nav-title>
  <ion-content ng-click="GoogleMaps.init();">
  <!--  <div class="padding">
      <label class="item-floating-label">Time: {{position.timestamp|date:'HH:mm:ss'}} </label>
      <label class="item-floating-label">Latitude:  {{position.coords.latitude}}</label><br/>
      <label class="item-floating-label">longitude: {{position.coords.longitude}}</label>

    </div> -->
<br/>

    <div id="map" data-tap-disabled="false"></div>

  </ion-content>

</ion-view>
