
<ion-view hide-nav-bar="true" class="start-background" >
  <ion-content class="padding full-height"  >
    <h1 class="text-center white-color home-title">

    </h1>

    <h3 class="white-color text-center sans-pro-light">
     <br>
      <img src="img/logo.gif" height="150px" width="200px">
    </h3>

    <!--
      #IMPLEMENTATION-DETAIL:
      we are wrapping the login button in an ionic grid in order
      to keep it centered and quite large
    -->

    <div class="row">
      <div class="col col-20"></div>
      <div class="col">
        <button class="button button-large colorbtn button-block" ui-sref="login"><p class="light">Start</p></button>
      </div>
      <div class="col col-20"></div>
    </div>
  </ion-content>

  <!--
   We put a link to signup screen in footer bar.
  -->
  <ion-footer-bar class="bar bar-footer bar-balanced" >
    <h1 class="title sans-pro-light text-center"></h1>
  </ion-footer-bar>

</ion-view>
